@import '../../styles/fonts.scss'; 
@import '../../styles/mixin.scss';
@import '../../styles/colors.scss';



.button{
    display: flex;
    align-items: center;
    border-radius: 12px;
    color: $colorMainWhite;
    font-family: $fontMain;

    @include nsm {
        border-radius: 3.47vw;
        column-gap: 1.87vw;
    }

    // .button_gradient
    &_gradient{
        background: $bgGradientAccent;
    }

    // .button_gray
    &_gray{
        background: $bgGradientWhite50;
    }

    // .button_transparent
    &_transparent{
        background: none;
    }

    // .button_fontS
    &_fontS{
        font-size: 16px;

        @include nsm {
            font-size: 4.66vw;
        }
    }

    // .button_fontM
    &_fontM{
        font-size: 18px;
        font-weight: 500;

        @include nsm {

        }
    }

    // .button_fontL
    &_fontL{
        font-size: 24px;
        font-weight: 500;

        @include nsm {
            font-size: 5.87vw;
        }
    }

    // .button_paddingS
    &_paddingS{
        padding: 12px 16px;
    }

    // .button_paddingM
    &_paddingM{
        padding: 14px 82px;
    }

    
    // .button_icon
    &_icon{
        padding: 14px 20px;
        @include nsm {

        }
    }
}