@import '../../styles/mixin.scss'; 
// @import '../../styles/globals.scss'; 

.container{
    &__buttons{
        width: fit-content;
        display: flex;
    };
    
    // .container__header
    &__header{
        width: 100%;
        height: 92px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @include nsm {
            height: 19.2vw;
        }
    };
    
    &__input {
        position: relative;
    }
    
    &__rating{
        width: 120px;
        height: 20px;
        display: flex;
        justify-content: space-between;
    }
    
    &__mobileHide{
        @include nsm {
            display: none;
        };
    }

    // .container_columnGapS
    &_columnGapS{
        column-gap: 8px;
    }

    // .container_columnGapM
    &_columnGapM{
        column-gap: 17px;
    }
}