@import '../../styles/mixin.scss';

.logotype{
    width: 140px;
    height: 50px;

    @include nsm {
        width: 24.53vw;
        height: 8.8vw;
    }
    
    // .logotype__img
    
    &__img{
        width: 100%;
        height: 100%;
    }
}
