@import '../../styles/fonts.scss'; 

.title{
    text-transform: uppercase;
    font-family: $titleMain;
    font-weight: 600;

    
    // .title__h3
    &__h3{
        font-size: 32px;
    }

    // .title__h4
    &__h4{
        font-size: 28px;
    }

    // .title__h5
    &__h5{
        text-transform: none;
        font-family: $fontMain;
        font-size: 24px;
        font-weight: 500;
    }

    // .title__h6
    &__h6{
        text-transform: none;
        font-family: $fontMain;
        font-size: 18px;
        font-weight: 500;
    }    
}