@import '../../styles/mixin.scss';
@import '../../styles/colors.scss';

.icon{
    width: 24px;
    height: 24px;
    fill: $colorMainGray;

    @include nsm {
        width: 6.4vw;
        height: 6.4vw;
    }
    
    // .icon_loupe

    &_loupe{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);

        @include nsm {
            position: static;
        }
    }
}
